.aside-container {
    background-color: rgb(230, 216, 216);
    margin-left: -0.5rem;
    width: calc(25% + 0.5rem);
    height: 100vh;
    margin-top: 6rem;
    border: 1px solid black
}

.aside-container h1 {
    /* color: white; */
    font-size: 2rem;
    text-align: center;
    /* margin: 0; */
}

.body-container {
    display: flex;
}
