.aside-container {
    width: calc(20% + 0.5rem);
    margin-top: 9.6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.aside-container a {
    margin-top: 1.5rem;
    height: 2.5rem;
    font-size: 1.3rem;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 0.5rem;
    cursor: pointer;
    width: 85%;
    color: white;
    border-bottom: 5px solid #ad8b19;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}


.body-container {
    display: flex;
    background: url(../../resources/img/uptc_ss3.jpg) no-repeat center center fixed;
    background-size: cover;    
    margin-left: -0.5rem;
    margin-right: -0.5rem;
}
