.content-container {
    width: calc(75% + 0.5rem);
    margin-top: 6rem;
}

.content-cards {
    padding: 2rem 1rem;
    margin: 5rem;
    background-color: rgba(0, 0, 0, 0.8);
    
}

.content-container h1 {
    font-size: 2rem;
    text-align: center;
}