.footer-container {
    border-top: 3rem solid #e5e5e5;
    background: url(../../resources/img/footer_sitio1.jpg) no-repeat center center;
    background-size: cover;
    margin: -0.5rem;
    margin-top: 0;
    margin-bottom: -1rem;
    color: #fff;
    padding-left: 6rem;
    padding-right: 6rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 3rem;
    font-size: 0.9rem;
}

.footer-container a{
    color: #fff;
    text-decoration: none;
}

.footer-container a, span, strong{
    padding-bottom: 0.2rem;
}

.footer-container .display-block {
    display: block;
    padding-bottom: 0.5rem;
}

.footer-container .mayus{
    font-size: 0.8rem;
    line-height: 1.4;
    margin-bottom: 0rem;
}

.footer-container .display-block-one {
    display: block;
}

.mt-2 {
    margin-top: 2rem;
}

.footer-container .footer-container-first-column {
    grid-column: 1 / 2;
}

.footer-container .footer-container-second-column {
    margin-left: auto;
    margin-right: auto;
}

.footer-container .footer-container-last-column {
    grid-column: 1 / 4;
    text-align: center;
    margin-top: 2rem;
}

.container-icons div ul{
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.container-icons div ul li {
    list-style: none;
    margin-right: 0.5rem;
}

.container-icons div ul li div{
    color: rgb(112, 111, 111);
    background-color: #fff;
    width: 2.7rem;
    height: 2.7rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}